@font-face{
	font-family: 'Wisdom Script';
	src: url('../fonts/wisdom-script.otf') format('opentype');
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 16px;
}

.container{
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.75em;
}
h2 {
    font-size: 1.3em;
}
h3 {
	font-size: 1em;
}
h4 {
	font-size: 0.7em;
}

p {
	font-size: 0.9em;
	line-height: 1.2em;
  padding: 0 0;
}

/*The widths are in a percentage!*/
header {
	width: 90%;
	height: auto;
	margin: 0 auto;
	border-bottom: 3px solid #77a466;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
}

header h1 {
	width: 100%;
	margin: 0;
	padding: 40px 0 15px;
	border-bottom: 3px solid #77a466;
	text-align: center;
}
header h1 span {
	color: #77a466;
}

header nav {
	padding: 20px 0;
	text-align: center;
}
header nav ul {
	margin: 0;
	padding: 0;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	padding: 10px 0;
	display: block;
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

.main-image {
	height: auto;
}
.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title {
	height: auto;
}
.main-title h3 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 16px;
	line-height: 25px;
}

.section-one,
.section-two,
.section-three {
	width: 100%;
	height: auto;
	border-top: 1px solid #77a466;
}

.section-one h4 {
	padding: 10px 0;
}

.section-two h4,
.section-three h4 {
	padding: 10px 0;
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 16px;
	line-height: 21px;
}

.address {
	font-size: 16px;
	line-height: 24px;
}

/*The widths are in a percentage!*/
footer {
	width: 90%;
	height: 50px;
	border-top: 1px solid #77a466;
	margin: 0 auto;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
footer span {
	font-family: 'Wisdom Script', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 14px;
}


/* Tablet styles */

@media all and (min-width: 768px) {
	h1 {
		font-size: 2em;
	}

	.section-one,
	.section-two,
	.section-three {
		width: 33%;
		height: 300px;
		float: left;
		border-top: 1px solid #77a466;
	}

	.section-two {
		border-left: 1px solid #77a466;
		border-right: 1px solid #77a466;
	}

	.bottom-section h4, .menu, .reviews, .address {
		padding: 5px;
	}

}

/* Desktop styles */

@media all and (min-width: 1200px) {

	h1 {
		font-size: 2.2em;
	}
	h2 {
	    font-size: 1.7em;
	}
	h3 {
		font-size: 1.4em;
	}
	h4 {
		font-size: 1em;
	}

	p {
		font-size: 1.2em;
		line-height: 1.4em;
	    padding: 0 30px;
	}

	header {
		height: 110px;
		border-bottom: 3px solid #77a466;
		margin: 0 auto;
		display: block;
	}

	header h1 {
		width: auto;
		float: left;
		margin: 0;
		padding: 38px 0;
		text-align: left;
	}

	header nav {
		float: right;
		padding: 46px 0;
	}

	 header nav ul {
		display: flex;
		justify-content: space-between;
	}

	header nav ul li {
		text-transform: uppercase;
		font-weight: 700;
		font-size: 14px;
		padding: 0 10px;
		display: inline;
	}

	.top-section,
	.bottom-section {
		margin: 0 auto;
		clear: both;
	}

	.main-image {
		width: 100%;
		height: auto;
		float: left;
	}

	.main-title {
		height: auto;
		float: left;
	}
	.main-title h3 {
		text-align: left;
		padding: 5px 0;
		color: #77a466;
	}
	.main-title p {
		padding: 0;
		font-size: 16px;
		line-height: 25px;
	}

	.section-one,
	.section-two,
	.section-three {
		width: 33%;
		height: 300px;
		float: left;
		border-top: 1px solid #77a466;
	}

	.section-one h4 {
		padding: 10px 0;
	}

	.section-two {
		border-left: 1px solid #77a466;
		border-right: 1px solid #77a466;
	}

	.section-two h4,
	.section-three h4 {
		padding: 10px 30px;
	}

	.menu {
		list-style: none;
		padding: 0;
	}
	.menu li {
		padding: 10px 0;
		color:#77a466;
	}

	.reviews {
		color: #333;
		font-size: 16px;
		line-height: 21px;
	}

	.address {
		font-size: 16px;
		line-height: 24px;
	}

	.bottom-section h4, .menu, .reviews, .address {
		padding: 10px;
	}

	footer {
		height: 50px;
		border-top: 1px solid #77a466;
		margin: 0 auto;
		clear: both;
		text-align: center;
	}
	footer span {
		font-family: 'Wisdom Script', cursive;
		text-transform: lowercase;
		color: #77a466;
		font-size: 14px;
	}

}
